.section-bar-wrapper{
    display: flex;
    justify-content: flex-end;
    margin-top: 5vh;
    margin-bottom: 3vh;
}

@media screen and (max-width: 600px) {
    .section-bar-wrapper{
        display: flex;
        justify-content: center;
    }
}

Button:nth-child(1){
    margin-right: 10px;
}

.section-button {
    padding: 10px;
    cursor: pointer;
}

/*.section-button:hover {*/
/*    background-color: rgba(255,255,255,0);*/
/*    color: black;*/
/*}*/

.selection-bullet {
    background-color: rgba(18, 146, 238, 255);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 0 auto;
}
