.section-bar-wrapper{
    display: flex;
    justify-content: flex-end;
    margin-top: 5vh;
    margin-bottom: 3vh;
}

@media screen and (max-width: 767px) {
    .section-bar-wrapper{
        display: flex;
        justify-content: center;
    }
}

.section-button {
    padding: 10px;
    cursor: pointer;
}

.selection-bullet {
    background-color: rgba(18, 146, 238, 255);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 0 auto;
}
