.image-card {
    position: relative;
    height: 100%;
}

.image{
    height: 100%;
    width: 100%;
}

.image-caption {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(18, 146, 238, 0.5);
    opacity: 0;
}


.image-caption:hover{
    opacity: 1;
}

.text-caption{
    color: white;
}
