.image-cards{
    margin-top: 5vh;
    margin-bottom: 20vh;
}

.image-card-wrapper-1{
    height: 100%;
    width: 100%;
}

.image-card-wrapper{
    height: 50%;
    width: 100%;
    padding-bottom: 15px;
}

.image-card-wrapper-bottom{
    height: 50%;
    width: 100%;
    padding-top: 15px;
}
